@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
    $(document).ready(function () {


      $("#boton").click(function() {

          $.get("home/datos",function(texto) {

              $("#mitabla").append("<tr><td>"+texto+"</td></tr>");

          });

         
      })
    })
</script>

<table id="mitabla">
    <tr>
        <th>textos</th>
    </tr>

    @foreach (var texto in ViewBag.textos)
    {
        <tr>
            <td>@texto</td>
        </tr>
    }
</table>
<input type="button" value="aceptar" id="boton"/>



</div>
