@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
    $(document).ready(function () {


     

        
    })
</script>

<table id="mitabla">
   
    @foreach (var texto in ViewBag.textos)
    {
        <tr>
            <td>@texto</td>
        </tr>
    }
</table>
<form action="formularioinsertar">
<input type="submit" value="nuevo" id="boton"/>
</form>




</div>
