@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
    $(document).ready(function () {

        $.getJSON("/home/listafacturasjson", function (datos) {
            for (let i = 0; i < datos.length; i++) {

                $("#mitabla").append(`<tr>
                                        <td>${datos[i].numero}</td>
                                        <td>${datos[i].concepto}</td>
                                        <td>${datos[i].importe}</td>
                                        </tr>`);
            }
        })
    });


</script>

<table id="mitabla">
    <tr>
        <th>Numero</th>
        <th>Concepto</th>
        <th>Importe</th>
    </tr>
</table>




<form action="/home/formularioinsertar">
    <input type="submit" value="insertar" id="boton" />
</form>



</div>
