@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#formularioinsertar").hide();
        $.getJSON("/home/listafacturasjson", function (datos) {
            for (let i = 0; i < datos.length; i++) {

                $("#mitabla").append(`<tr>
                                        <td>${datos[i].numero}</td>
                                        <td>${datos[i].concepto}</td>
                                        <td>${datos[i].importe}</td>
                                        </tr>`);
            }
        })
        $("#botonNuevo").click(function() {

            $("#listado").hide();
            $("#formularioinsertar").show();
        })
    });


</script>
<div id="listado">
<table id="mitabla">
    <tr>
        <th>Numero</th>
        <th>Concepto</th>
        <th>Importe</th>
    </tr>
</table>

<input type="button" value="insertar" id="botonNuevo" />
</div>
<div id="formularioinsertar">
<form action="/home/insertar">

<p>
    Numero<input type="text" name="numero"/>
</p>
<p>
    Concepto<input type="text" name="concepto"/>
  </p>
  <p>
    Importe<input type="text" name="importe"/>
</p>
<p>
    <input type="submit" value="aceptar"/>
</p>
</form>
</div>






</div>
